@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

body {
  background-color: hsl(26, 40%, 92%);
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root section {
  display: flex;


  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-width: 600px) {
    width: 100vw;
    min-width: 855px;
    max-width: 1000px;
    width: 50vw;
  }
}


.content_wrapper {
  background-color: hsl(0, 0%, 100%);
  @media only screen and (max-width: 600px) {
    width: 90%;
    border-radius: 0 0 10px 10px;
  }
  @media only screen and (min-width: 600px) {
    width: 50%;
    border-radius: 0 10px 10px 0;
  }
}

.img_wrapper {

  @media only screen and (max-width: 600px) {
    width: 90%;
    img {
      border-radius: 10px 10px 0 0;
      min-width: 500px; 
      object-fit: cover;
    }
  }

  @media only screen and (min-width: 600px) {
    width: 50%;
    img {
      border-radius: 10px 0 0 10px;
      min-height: 760px;
      object-fit: cover;


      position: relative;
      left: 50%;
      transform: translateX(-50%);


    }
  }


}

